<div class="content-wrapper">
    <section class="content-header">
    <h1>
      Billing Detail
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Billing</li>
      <li class="active">Detail</li>
    </ol>
    </section>
    <br>
    <section class="content">
       <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row p-5">
                                <div class="col-md-6">
                                    <!--<img src="http://via.placeholder.com/400x90?text=logo">-->
                                    <%= link_to image_tag("img/logo.png", height: '90') %>
                                </div>
        
                                <div class="col-md-6 text-right">
                                    <p class="font-weight-bold mb-1">Invoice #<%= @billing.id %></p>
                                    <p class="text-muted">Due to: <%= @billing.created_at %></p>
                                </div>
                            </div>
        
                            <hr class="my-5">
        
                            <div class="row pb-5 p-5">
                                <div class="col-md-6">
                                    <p class="font-weight-bold mb-4">Billing Information</p>
                                    <% binding.pry %>
                                    <p class="mb-1">Name: <%= @billing.first_name + ' ' + @billing.last_name %></p>
                                    <p class="mb-1">Email: <%= @billing.email %></p>
                                    <p class="mb-1">Phone number: <%= @billing.phone_number %></p>
                                    <p class="mb-1">Country: <%= @billing.city %></p>
                                    <p class="mb-1">Address: <%= @billing.address %></p>
                                    <p class="mb-1">Note: <%= @billing.note %></p>
                                </div>
        
                                <div class="col-md-6 text-right">
                                    <p class="font-weight-bold mb-4">Payment Details</p>
                                    <p class="mb-1"><span class="text-muted">Payment Type: </span> <%= @billing.payment_method.upcase %></p>
                                    <p class="mb-1"><span class="text-muted">Status: </span> <%= @billing.status %></p>
                                </div>
                            </div>
        
                            <div class="row p-5">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Chair Name</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @billing.order.order_items.each do |item| %>
                                                <tr>
                                                    <td><%= item.chair.id %></td>
                                                    <td><%= item.chair.name %></td>
                                                    <td><%= item.quantity %></td>
                                                    <td>$<%= item.unit_price %></td>
                                                    <td>$<%= item.total_price %></td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                            <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                                <div class="py-3 px-5 text-right">
                                    <div class="mb-2">Grand Total</div>
                                    <div class="h2 font-weight-light">$<%= @billing.subtotal %></div>
                                </div>

                                 <div class="py-3 px-5 text-right">
                                    <div class="mb-2">Shipping</div>
                                    <div class="h2 font-weight-light">$<%= @billing.shipping %></div>
                                </div>
        
                                <div class="py-3 px-5 text-right">
                                    <div class="mb-2">Discount</div>
                                    <div class="h2 font-weight-light">0%</div>
                                </div>
        
                                <div class="py-3 px-5 text-right">
                                    <div class="mb-2">Sub - Total amount</div>
                                    <div class="h2 font-weight-light">$<%= @billing.total %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>
        
        </div>
        
    </section>
</div>
