<%= stylesheet_link_tag "css/nice-select.css" %>
<%= javascript_include_tag "js/contact.js" %>
<%= javascript_include_tag "js/price_rangs.js" %>
<%= javascript_include_tag "js/stellar.js" %>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
