<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Product Checkout</h2>
            <p>Home <span>-</span> Shop Single</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <% if !user_signed_in? %>
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            You need to login to proceed checkout !
            <%= link_to "Click here to login", new_user_session_path %>
          </h2>
        </div>
      </div>
    
    <% elsif current_order.order_items.blank? %>
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            You don't have any items to proceed checkout !
            <%= link_to "Continue Shopping", chairs_path, method: :get %>
          </h2>
        </div>
      </div>

    <% else %>
      <%= form_for @billing, html: {class: 'row contact_form'} do |f| %>
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Billing Details</h3>
                <div class="col-md-6 form-group p_star">
                  <%= f.text_field :first_name, class: "form-control", placeholder: 'First name', required: true %>
                </div>
                <div class="col-md-6 form-group p_star">
                  <%= f.text_field :last_name, class: "form-control", placeholder: 'Last name', required: true %>
                </div>
                <div class="col-md-6 form-group p_star">
                  <%= f.text_field :phone_number, class: "form-control", placeholder: 'Phone number', required: true %>
                </div>
                <div class="col-md-6 form-group p_star">
                  <%= f.email_field :email, class: "form-control", placeholder: 'Email Address', required: true %>
                </div>
                <div class="col-md-12 form-group p_star">
                  <%= f.select :country, ["Vietnam", "Japan", "USA"], {prompt: 'Country', required: true}, {class: 'country_select'} %>
                </div>
                <div class="col-md-12 form-group p_star">
                  <%= f.text_field :address, class: "form-control", placeholder: 'Address', required: true %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_area :note, rows: 1, class: "form-control", placeholder: "Order Notes" %>
                </div>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#">Product
                      <span>Total</span>
                    </a>
                  </li>
                  <% current_order.order_items.each do |item| %>
                    <li>
                      <a href="#"><%= item.chair.name %>
                        <span class="middle">x <%= item.quantity %></span>
                        <span class="last">$<%= item.total_price %></span>
                      </a>
                    </li>
                  <% end %>
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal
                      <span>$<%= current_order.subtotal %></span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Shipping
                      <span>Flat rate: $50.00</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Total
                      <span>$<%= current_order.subtotal + 50 %></span>
                    </a>
                  </li>
                </ul>
                <br>
                <h2>Payment method</h2>
                <div class="payment_item">
                  <div class="radion_btn">
                    <%= f.radio_button :payment_method, 'cod', :checked => true %> 
                    <%= f.label :payment_method_cod, 'COD' %>
                    <div class="check"></div>
                  </div>
                  <div class="radion_btn">
                    <%= f.radio_button :payment_method, 'paypal' %> 
                    <%= f.label :payment_method_paypal, 'Paypal' %>
                    <%= image_tag "img/product/single-product/card.jpg" %>
                    <div class="check"></div>
                  </div>
                </div>
                <div class="payment_item active">
                  
                </div>
                <div id="paypal-button-container"></div>
                <%= f.submit "Checkout", class: "btn_3" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>"></script>

<script>
  const subtotal = <%= current_order.subtotal %>
  const token = $('meta[name="csrf-token"]').attr('content');
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: subtotal.toString()
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/billings', {
          method: 'post',
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': token,
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID
          }),
          credentials: 'same-origin'
        });
      });
    }
  }).render('#paypal-button-container');
</script>
