<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Order Confirmation</h2>
              <p>Home <span>-</span> Order Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================ confirmation part start =================-->
<section class="confirmation_part padding_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p>order number</p><span>: <%= @billing.id %></span>
              </li>
              <li>
                <p>date</p><span>: <%= @billing.created_at.to_formatted_s(:long_ordinal) %></span>
              </li>
              <li>
                <p>total</p><span>: USD <%= @billing.total %></span>
              </li>
              <li>
                <p>payment methord</p><span>: <%= @billing.payment_method %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Address</h4>
            <ul>
              <li>
                <p>country</p><span>: <%= @billing.country %></span>
              </li>
              <li>
                <p>Address</p><span>: <%= @billing.address %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Customer Information</h4>
            <ul>
              <li>
                <p>First name</p><span>: <%= @billing.first_name %></span>
              </li>
              <li>
                <p>Last name</p><span>: <%= @billing.last_name %></span>
              </li>
              <li>
                <p>Phone number</p><span>: <%= @billing.phone_number %></span>
              </li>
              <li>
                <p>Email</p><span>: <%= @billing.email %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Image</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <% @billing.order.order_items.each do |item| %>
                    <tr>
                    <th colspan="2"><span><%= item.chair.name %></span></th>
                    <th><%= image_tag item.chair.img, width: 100 %></th>
                    <th>x <%= item.quantity %></th>
                    <th> <span><%= item.total_price %></span></th>
                    </tr>
                <% end %>
                <tr>
                  <th colspan="4">Subtotal</th>
                  <th> <span>$<%= @billing.order.subtotal %></span></th>
                </tr>
                <tr>
                  <th colspan="4">shipping</th>
                  <th><span>flat rate: $50.00</span></th>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="4">Total</th>
                  <th scope="col"><span>$<%= @billing.total %><span></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
