<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Category List
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Category</li>
      <li class="active">List</li>
    </ol>
  </section>
  <br>
  <section class="container-fluid" style="background-color:white;margin: 0 10px 0px 10px;border-radius:5px; height:1000px">
    <div style="margin-top:20px">
      <div class="col-lg-8">
        <%= link_to "New", new_admin_category_path, :class=>'btn btn-primary', :style=>'width:100px'%>
      </div>
      <div class="col-lg-4"> 
        <div class="input-group">
          <%= search_form_for @search, class: "input-group-btn search-panel",   url: admin_categories_path do |f|%>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Seach by name", style: "float:left;width:300px" %>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          <%end%>
        </div>
      </div>
      
    </div>
    <div style="margin-top:70px;" >
      <% flash.each do |key, value| %>
        <div id="error_explanation" style="mt-5">
          <div class="alert alert-success col-lg-6 col-lg-offset-3">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong><%= value unless value.blank? %>!</strong>
          </div>
        </div>
      <% end %>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="3%">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" width="14%" ></th>
          </tr>
        </thead>
        <tbody>
            <%@categories.each do |category| %>
              <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td><%= category.description %></td>
                <td><%= link_to "Edit", edit_admin_category_path(category.id), class: 'btn btn-warning', style: 'width:100px;'%>
                    <%= link_to "Delete", admin_category_path(category.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }, style: 'width:100px' %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <div class="col-lg-4 col-lg-offset-4">
          <%= paginate @categories, theme: 'twitter-bootstrap-3' %>
      </div> 
    </div>
  </section>
</div>
