<div class="content-wrapper">
    <section class="content-header">
        <h1>
          New
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">User</li>
          <li class="active">New</li>
        </ol>
    </section>
    <br>
    <section class="content"style="height:1000px">
        <% if @user.errors.full_messages.any? %>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <% @user.errors.full_messages.each do |error_message| %>
                  <strong><%= error_message if @user.errors.full_messages.first == error_message %></strong> <br />
                <% end %>
        </div>
        <% end %>
        <% flash.each do |key, value| %>
            <div id="error_explanation">
              <div class="alert alert-#{key}">
                <%= value unless value.blank? %>
              </div>
            </div>
        <% end %>
        <%= form_for(User.new, as: :user, :html => {:class => 'row'}, url: admin_users_path, method: :post) do |f| %>
            <div class="col-md-12 form-group p_star">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name" %>
            </div>
            <div class="col-md-12 form-group p_star">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </div>
            <div class="col-md-12 form-group p_star">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
            </div>
            <div class="col-md-12 form-group p_star">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
            </div>
            <div class="col-md-12 form-group p_star">
                <%= f.date_field :birthday, autofocus: true, autocomplete: "birthday", class: "form-control", placeholder: "Birthday" %>
            </div>
            <div class="col-md-12 form-group p_star">
                <%= f.select(:gender, ['male', 'female'], {}, { :class => 'form-control' }) %>
            </div>
            <div class="col-md-12 form-group">
                <%= f.submit "Create", class: "btn btn-primary" %>
            </div>
        <% end %>
    </section>
</div>
