<!DOCTYPE html>
<html>
  <head>
    <title><%= yield 'title' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "admin/header" %>
      <%= render "admin/left_sidebar" %>
      
      <%= yield %>

      <%= render "admin/footer" %>
      <%= render "admin/right_sidebar" %>

      <div class="control-sidebar-bg"></div>
    </div>
  </body>
</html>
